<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
       <li>temporals.day(time) = <span th:text="${#temporals.day(time)}"></span> </li>
       <li>temporals.month(time) = <span th:text="${#temporals.month(time)}"></span> </li>
        <li>temporals.motnName(time) = <span th:text="${#temporals.monthName(time)}"></span> </li>
        <li>temporals.year(timee)= <span th:text="${#temporals.monthNameShort(time)}"></span> </li>
        <li>temporals.dayOfWeek(time)= <span th:text="${#temporals.dayOfWeek(time)}"></span> </li>
        <li>temporals.dayOfWeekName(time)= <span th:text="${#temporals.dayOfWeekName(time)}"></span> </li>
        <li>temporals.dayOfWeekNameShort(time)= <span th:text="${#temporals.dayOfWeekNameShort(time)}"></span> </li>
        <li>temporals.hour(time)= <span th:text="${#temporals.hour(time)}"></span></li>
        <li>temporals.minute(time)= <span th:text="${#temporals.minute(time)}"></span></li>
        <li>temporals.day(time)= <span th:text="${#temporals.day(time)}"></span></li>
    </ul>
</body>
</html>