<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>표현식</h1>
<ul>
    <h1>Object</h1>
    <li>${userA.name}= <span th:text="${userA.name}"></span></li>
    <li>${userA['name']} = <span th:text="${userA.name}"></span></li>
    <li>${userA.getName()} = <span th:text="${userA.getName()}"></span> </li>
</ul>
<ul>
    <h1>List</h1>
    <li>${lst[0].name}= <span th:text="${lst.get(0).name}"></span></li>
    <li>${lst['name']} = <span th:text="${lst[0]['name']}"></span></li>
    <li>${lst[0].getName()} = <span th:text="${lst[0].getName()}"></span> </li>
</ul>

<ul>
    <h1>Map</h1>
    <li>${map['userA'].name}= <span th:text="${map.get('userA').name}"></span></li>
    <li>${map['userA']['name']} = <span th:text="${map['userA']['name']}"></span></li>
    <li>${map[0]['userA'].getName()} = <span th:text="${map['userA'].getName()}"></span> </li>
</ul>

<div th:with="first=${lst[0]}">
    <p>이 사람의 이름은 <span th:text="${first.name}"></span></p>
</div>

</body>
</html>